[package]
name = "sz3-sys"
version = "0.1.0+SZ3-3.1.5.3"
edition = "2021"
license = "GPL-3.0-only"

[dependencies]
openmp-sys = "1.2.3"
zstd-sys = "2.0.1"

[build-dependencies]
bindgen = "0.59.2"
cc = "1.0.73"
